/* ========= Import url font ============ */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* ===== Main Body ========== */
.bg-main {
  background: #04040c;
  font-family: "Open Sans", sans-serif;
}

/* =========== Header  ========== */
.headers {
  font-weight: 600;
  transform: translate(0, 0);
  margin: 0;
  background: url(./img/nenad-novakovic-L2QB-rG5NM0-unsplash.png) 50% 50%;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*============ Button Default and Create btn ========= */
.default-btn {
  padding: 16px 40px;
  font-size: 19px;
  font-weight: 500;
  color: #f0f0f0;
  /*  Gradient */
  border: none;
  background: linear-gradient(180deg, #5c43f6 0%, #bc61f3 100%);
}
.create-btn {
  padding: 14px 40px;
  margin-left: 24px;
  font-size: 19px;
  font-weight: 500;
  background-color: transparent;
  color: #f0f0f0;
  border-image: linear-gradient(#5c43f6, #bc61f3) 30;
  border-width: 2px;
  border-style: solid;
}
/* Hover Default Btn And Create-btn */
.create-btn:hover {
  background: linear-gradient(#5c43f6 0%, #bc61f3 100%);
}
.default-btn:hover {
  border: none;
  background: linear-gradient(180deg, #3d1fff 0%, #a81dff 100%);
}

/* =========== coin ============ */
.bg-coin {
  padding: 30px 70px;
  opacity: 50px;
  background: url(./img/sape/Shade\ 1\ .svg) 0% 60%;
  background-repeat: no-repeat;
}
/* Default card style */
.card-creator {
  background: rgba(134, 155, 223, 0.14);
  border: 2px solid rgba(83, 84, 136, 0.4);
}
/* ========= Media Query ============ */
@media (max-width: 576px) {
  .create-btn {
    padding: 19px 30px;
    font-size: 15px;
  }
  .default-btn {
    padding: 19px 40px;
    font-size: 15px;
  }
}
